@charset "utf-8";

@import "vars";
@import "../node_modules/bulma/bulma.sass";

html, body {
  min-height: calc(100vh);
  background-color:  $dark;
}

.divider {
  border-left: 1px solid $white;
}

hr {
  box-sizing: content-box;
  border: 0;
  line-height: 1.25em;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  height: 0.0625rem;
  background: linear-gradient(to right, transparent, $text-strong 20%, $text-strong 80%, transparent);
}

.article:hover {
  //background-color: $grey-dark !important;
  cursor: pointer;

  .title {
    color: $white;

    &:hover {
      text-decoration: underline;
    }
  }
}

.hero {
  background-color: $grey-dark;
}

ul li {
  padding-bottom: $column-gap;
}

pre {
  border-left: 0.15rem solid $primary
}

.categories {
  list-style: none;
  display: flex;
}

.categories li {
  margin-right: 0.25rem;
  padding: 0.5rem;
  background-color: #282828;
}

.categories li:hover, .categories li:focus, .categories li:visited {
  background-color: #1c1c1c;
}

.categories li a {
  color: #fdfdfd;
}

.categories li a:hover, .categories li a:focus, .categories li a:visited {
  text-decoration: none;
}

/*
  Definitions for icons - powered by Feather (https://feathericons.com/).
*/
span[class^='icon-'] {
  display: inline-block;
  height: 1em;
  width: 1em;
  vertical-align: -0.125em;
  background-size: contain;
  margin: 0 10px;
}

span.icon-mail {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23fdfdfd' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z'%3E%3C/path%3E%3Cpolyline points='22,6 12,13 2,6'%3E%3C/polyline%3E%3C/svg%3E");
}

span.icon-rss {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23fdfdfd' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M4 11a9 9 0 0 1 9 9'%3E%3C/path%3E%3Cpath d='M4 4a16 16 0 0 1 16 16'%3E%3C/path%3E%3Ccircle cx='5' cy='19' r='1'%3E%3C/circle%3E%3C/svg%3E");
}

span.icon-user {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23fdfdfd' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2'%3E%3C/path%3E%3Ccircle cx='12' cy='7' r='4'%3E%3C/circle%3E%3C/svg%3E");
}

span.icon-github {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20stroke%3D%22%23fdfdfd%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20class%3D%22feather%20feather-github%22%3E%3Cpath%20d%3D%22M9%2019c-5%201.5-5-2.5-7-3m14%206v-3.87a3.37%203.37%200%200%200-.94-2.61c3.14-.35%206.44-1.54%206.44-7A5.44%205.44%200%200%200%2020%204.77%205.07%205.07%200%200%200%2019.91%201S18.73.65%2016%202.48a13.38%2013.38%200%200%200-7%200C6.27.65%205.09%201%205.09%201A5.07%205.07%200%200%200%205%204.77a5.44%205.44%200%200%200-1.5%203.78c0%205.42%203.3%206.61%206.44%207A3.37%203.37%200%200%200%209%2018.13V22%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
}

span.icon-mastodon {
  font-size: 1.025em;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20512%20480%22%3E%3Cpath%20fill%3D%22%23fdfdfd%22%20d%3D%22M433%20179.11c0-97.2-63.71-125.7-63.71-125.7-62.52-28.7-228.56-28.4-290.48%200%200%200-63.72%2028.5-63.72%20125.7%200%20115.7-6.6%20259.4%20105.63%20289.1%2040.51%2010.7%2075.32%2013%20103.33%2011.4%2050.81-2.8%2079.32-18.1%2079.32-18.1l-1.7-36.9s-36.31%2011.4-77.12%2010.1c-40.41-1.4-83-4.4-89.63-54a102.54%20102.54%200%200%201-.9-13.9c85.63%2020.9%20158.65%209.1%20178.75%206.7%2056.12-6.7%20105-41.3%20111.23-72.9%209.8-49.8%209-121.5%209-121.5zm-75.12%20125.2h-46.63v-114.2c0-49.7-64-51.6-64%206.9v62.5h-46.33V197c0-58.5-64-56.6-64-6.9v114.2H90.19c0-122.1-5.2-147.9%2018.41-175%2025.9-28.9%2079.82-30.8%20103.83%206.1l11.6%2019.5%2011.6-19.5c24.11-37.1%2078.12-34.8%20103.83-6.1%2023.71%2027.3%2018.4%2053%2018.4%20175z%22%20class%3D%22%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
}

span.icon-matrix {
  font-size: 1.025em;
  background-image: url("data:image/svg+xml,%3Csvg%20height%3D%22384pt%22%20viewBox%3D%220%20-32%20384%20384%22%20width%3D%22384pt%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20style%3D%22fill%3A%23fdfdfd%3B%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20style%3D%22fill%3A%23fdfdfd%3B%22%20d%3D%22m64%20288h-32v-256h32v-32h-64v320h64zm0%200%22%2F%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20style%3D%22fill%3A%23fdfdfd%3B%22%20d%3D%22m320%2032h32v256h-32v32h64v-320h-64zm0%200%22%2F%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20style%3D%22fill%3A%23fdfdfd%3B%22%20d%3D%22m80%2064h32v32h-32zm0%200%22%2F%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20style%3D%22fill%3A%23fdfdfd%3B%22%20d%3D%22m176%2064h32v32h-32zm0%200%22%2F%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20style%3D%22fill%3A%23fdfdfd%3B%22%20d%3D%22m272%2064h32v32h-32zm0%200%22%2F%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20style%3D%22fill%3A%23fdfdfd%3B%22%20d%3D%22m80%20144h32v32h-32zm0%200%22%2F%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20style%3D%22fill%3A%23fdfdfd%3B%22%20d%3D%22m176%20144h32v32h-32zm0%200%22%2F%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20style%3D%22fill%3A%23fdfdfd%3B%22%20d%3D%22m272%20144h32v32h-32zm0%200%22%2F%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20style%3D%22fill%3A%23fdfdfd%3B%22%20d%3D%22m80%20224h32v32h-32zm0%200%22%2F%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20style%3D%22fill%3A%23fdfdfd%3B%22%20d%3D%22m176%20224h32v32h-32zm0%200%22%2F%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20style%3D%22fill%3A%23fdfdfd%3B%22%20d%3D%22m272%20224h32v32h-32zm0%200%22%2F%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fsvg%3E");
}

span.icon-jabber {
  background-repeat: no-repeat;
  background-position-x: center;
  background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%0A%3C%21--%20Created%20with%20Inkscape%20%28http%3A%2F%2Fwww.inkscape.org%2F%29%20--%3E%0A%3Csvg%20id%3D%22svg1903%22%20xmlns%3Ardf%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2F02%2F22-rdf-syntax-ns%23%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20height%3D%22664%22%20width%3D%22443%22%20version%3D%221.0%22%20xmlns%3Acc%3D%22http%3A%2F%2Fcreativecommons.org%2Fns%23%22%20xmlns%3Adc%3D%22http%3A%2F%2Fpurl.org%2Fdc%2Felements%2F1.1%2F%22%20fill%3D%22%23fdfdfd%22%3E%0A%20%3Cmetadata%20id%3D%22metadata74%22%3E%0A%20%20%3Crdf%3ARDF%3E%0A%20%20%20%3Ccc%3AWork%20rdf%3Aabout%3D%22%22%3E%0A%20%20%20%20%3Cdc%3Aformat%3Eimage%2Fsvg%2Bxml%3C%2Fdc%3Aformat%3E%0A%20%20%20%20%3Cdc%3Atype%20rdf%3Aresource%3D%22http%3A%2F%2Fpurl.org%2Fdc%2Fdcmitype%2FStillImage%22%2F%3E%0A%20%20%20%3C%2Fcc%3AWork%3E%0A%20%20%3C%2Frdf%3ARDF%3E%0A%20%3C%2Fmetadata%3E%0A%20%3Cpath%20id%3D%22path26%22%20fill%3D%22%23fdfdfd%22%20d%3D%22m155.01%20324.74c0-9.6823-1.7884-20.252-7.4133-28.371-11.278-16.274-35.488-21.451-52.34-11.195-8.518%205.1875-13.255%2014.244-15.926%2023.542-5.3022%2018.463-2.8709%2039.533%200.83706%2058.075%201.1851%205.9301%202.4091%2011.869%204.0726%2017.69%200.60088%202.1%200.87906%205.1513%202.2449%206.8981%202.3838%203.0541%208.2036%203.9386%2011.772%203.3378%2010.707-1.7996%208.0562-19.429%207.6918-26.925-0.85402-17.559-6.0282-34.602-1.0154-52.067%202.1226-7.3904%206.223-15.701%2013.687-18.911%206.7376-2.9011%2013.536%200.64808%2016.204%207.2291%204.3199%2010.656%203.2406%2022.958%205.9501%2034.045%200.92079%203.7689%201.9334%207.5016%203.6331%2011.015%200.49239%201.0152%201.1712%203.1264%202.5982%202.9984%203.469-0.31708%208.4012-6.1053%2011.002-8.2526%208.4012-6.9426%2017.033-14.377%2026.706-19.515%204.5511-2.4171%2012.04-6.3306%2016.688-2.2196%201.1848%201.0486%202.139%202.3003%202.9874%203.627%205.4635%208.5586%200.0389%2015.226-3.5132%2023.364-4.5984%2010.533-9.3105%2020.961-15.973%2030.374-5.7278%208.0941-13.556%2015.19-18.132%2024.032-2.946%205.6937-4.6123%2011.933-3.3938%2018.358%200.98756%205.1958%205.0157%208.3333%2010.315%207.115%203.9669-0.91232%206.6542-4.3113%208.9158-7.4488%204.0309-5.5963%207.7752-11.404%2011.781-17.023%207.7502-10.867%2016.894-21.028%2023.412-32.71%207.8559-14.083%2011.645-30.018%2011.636-46.059-0.005-13.109-4.7594-33.144-20.029-35.892-2.8734-0.51457-6.159-0.23364-9.0132%200.26424-3.5466%200.61749-7.1073%201.7718-10.348%203.3406-8.6821%204.2-16.19%2010.472-22.641%2017.604-4.025%204.4448-7.6303%2010.036-12.407%2013.685%22%2F%3E%0A%20%3Cpath%20id%3D%22path28%22%20fill%3D%22%23fdfdfd%22%20d%3D%22m140.66%200.46423c-12.04%201.5827-24.28%201.4186-36.38%203.2877-23.184%203.5798-45.386%2010.781-67.098%2019.468-7.906%203.162-15.706%206.686-23.367%2010.394-2.851%201.38-7.1995%202.484-9.4918%204.698-1.1931%201.154-1.0707%203.858-1.2156%205.401-0.4031%204.342-0.9456%208.679-1.3659%2013.018-1.6216%2016.744-2.7649%2033.995-0.367%2050.729%200.77613%205.4072%202.4564%2015.215%209.1022%2016.252%2010.22%201.5994%2018.16-10.976%2023.175-17.921%2011.714-16.218%2025.042-31.319%2044.254-38.57%2022.614-8.537%2048.514-10.548%2072.434-12.189%2067.129-4.6006%20140.49%207.6602%20189.94%2057.104%207.0325%207.0316%2013.689%2014.494%2019.35%2022.697%2022.141%2032.059%2033.849%2068.513%2039.488%20106.8%202.6511%2017.977%204.4621%2036.168%200.36164%2054.069-7.116%2031.058-25.774%2058.091-47.213%2081.105-14.674%2015.752-31.187%2029.99-48.373%2042.932-9.5946%207.2235-20.355%2013.351-29.376%2021.248-10.39%209.0954-19.033%2020.477-25.601%2032.613-17.676%2032.677-22.416%2071.996-17.217%20108.47%201.0654%207.4766%202.028%2014.989%203.7221%2022.363%200.5063%202.2057%200.59532%205.9969%202.0224%207.7993%202.6706%203.3712%209.959%205.2264%2014.04%205.4239%204.2562%200.20583%207.0881-3.0652%208.1313-6.8814%201.7859-6.5392%200.71771-13.782-0.31713-20.36-2.1198-13.473-4.0615-27.042-3.4606-40.718%201.1072-25.253%2010.871-48.784%2028.375-67.087%2017.801-18.614%2041.844-29.347%2062.074-44.94%2040.771-31.425%2077.296-73.823%2091.322-124.28%205.0129-18.043%206.6736-37.163%204.3842-55.738-2.8931-23.495-11.486-46.963-19.581-69.089-24.67-67.43-67-131.57-134.21-162.42-26.67-12.245-54.57-17.819-83.45-21.841-13.55-1.8861-27.09-3.0432-40.72-3.6412-7.58-0.33099-15.82-1.171-23.37-0.17801%22%2F%3E%0A%20%3Cpath%20id%3D%22path30%22%20fill%3D%22%23fdfdfd%22%20d%3D%22m35.51%20437.03c-13.1%201.8747-16.908%2012.375-14.488%2024.221%203.099%2015.159%2015.022%2026.722%2026.836%2035.828%2030.269%2023.331%2069.365%2035.942%20107.48%2034.273%2014.874-0.65086%2031.079-3.1097%2044.729-9.4209%207.319-3.3823%2014.975-15.568%205.0073-20.783-1.3659-0.71484-3.1516-1.1571-4.6735-1.4074-4.3533-0.71206-9.2274%201.1404-13.353%202.3253-7.2745%202.0889-14.543%204.2278-22.032%205.4294-22.374%203.5937-46.568-1.5187-65.092-14.775-14.983-10.72-27.095-24.86-38.529-39.15-6.999-8.74-13.325-18.34-25.904-16.54%22%2F%3E%0A%20%3Cpath%20id%3D%22path32%22%20fill%3D%22%23fdfdfd%22%20d%3D%22m18.485%20511.12c-3.3326%200.43947-7.1549%200.3143-10.009%202.4088-5.9531%204.3697%200.60366%2013.159%203.736%2017.142%209.0824%2011.54%2021.042%2021.12%2032.976%2029.564%2033.271%2023.534%2070.959%2037.111%20111.49%2039.889%2011.653%200.79828%2023.523-0.0306%2035.048-1.9498%204.2142-0.70372%209.4582-1.0208%2013.353-2.8399%2011.021-5.1541%207.8334-25.973-2.0029-30.602-4.2952-2.0194-11.186%200.64809-15.69%201.2739-10.652%201.4853-21.334%201.6355-32.047%201.374-28.077-0.68702-57.987-9.3346-82.451-22.981-9.6168-5.3683-18.449-11.899-26.706-19.167-5.0212-4.4198-10.179-11.652-16.691-13.885-3.0322-1.0403-7.8618-0.6453-11.016-0.23086%22%2F%3E%0A%20%3Cpath%20id%3D%22path34%22%20fill%3D%22%23fdfdfd%22%20d%3D%22m25.161%20573.54c-4.7455%200.53126-8.323%203.0068-11.444%206.5281-2.1504%202.4254-4.1922%204.6173-5.4274%207.6769-6.8099%2016.845%2011.344%2032.746%2023.882%2040.701%2013.953%208.8507%2029.198%2015.412%2044.729%2020.939%2035.029%2012.467%2076.114%2020.447%20112.49%209.3013%2010.813-3.31%2021.501-9.3625%2029.362-17.543%204.4284-4.6089%207.469-11.588-0.65373-14.539-4.8126-1.7468-10.657%202.7008-15.022%204.4587-10.304%204.1555-20.986%207.3097-32.047%208.6476-14.568%201.7662-27.685-1.4408-41.725-4.9538-11.993-2.9984-24.121-5.9969-35.716-10.319-9.8922-3.6882-19.718-8.0691-28.374-14.194-2.5871-1.8302-5.6861-3.4602-7.8058-5.8439-6.9296-7.7965-12.137-16.92-19.567-24.335-3.2102-3.2043-7.7722-7.0761-12.685-6.5281%22%2F%3E%0A%3C%2Fsvg%3E%0A");
}