$text: hsl(0, 0, 100%);
$text-strong: hsl(0, 0, 80%);

$link: hsl(171, 100%, 41%);
$link-hover: hsl(0,0, 60%);

$section-padding: 0 0.75rem;
$card-content-padding: 0.75rem;
$block-spacing: 0.75rem;

$pre-background: darken(#363636, 5%);
$navbar-background-color: inherit;
$navbar-item-hover-background-color: darken(#363636, 5%);